$gray: #a9a9a9;
$light: #eee;
$white: #fdfcfc;
$dark: #6d6d6d;
$em: 16px;
$threshold: 1100px;

* {
  font-family: 'Roboto Slab', 'Times New Roman', serif;
}
body {
  background-color: $white;
  font-size: $em;
}
a, a:visited, a:hover {
  color: $gray;
}
.logo {
  width: 180px;
  height: 103px;
}
.dark {
  color: $dark !important;
}
.date {
  color: $gray;
}
.desktop {
  @media all and (max-width: $threshold) {
    display: none;
  }
}
.main {
  margin: 117px auto;
  position: relative;
  width: 600px;
  color: $dark;
  @media all and (max-width: $threshold) {
    width: 100%;
    margin-top: 0;
  }
  .bar {
    @extend .desktop;
    position: absolute;
    left: -34px;
    top: -46px;
    width: 1px;
    height: 398px;
    background-color: $light;
  }
}
.menu {
  position: absolute;
  text-align: right;
  width: 180px;
  left: -231px;
  top: -17.5px;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;
  li {
    font-size: .85 * $em;
    padding: .7 * $em 0;
    border-top: 1px solid $light;
    color: $gray;
    &:first-child {
      border-top: 0;
    }
  }
  @media all and (max-width: $threshold) {
    position: relative;
    text-align: left;
    width: 100%;
    left: 0;
    top: 0;
    li {
      border: 0;
      padding: .4 * $em 0;
    }
  }
  a {
    text-decoration: none;
  }
  .slogan {
    @extend .desktop;
    font-weight: bold;
  }
  .social {
    list-style: none;
    text-transform: none;
    padding: 0;
    li {
      padding: 0;
      border: none;
    }
  }
}
h1, h2, h3 {
  text-transform: uppercase;
}
h1 {
  font-size: 1.4 * $em;
  font-weight: bold;
}
h2 {
  font-size: 1.2 * $em;
  margin-top: 2 * $em;
}
.break {
  height: 1px;
  background-color: $gray;
  border: 0;
  margin-top: 4 * $em;
}
.photo {
  width: 700px;
  @media all and (max-width: 700px) {
    width: 100%;
  }
}
.buttons {
  .button {
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 1.6 * $em;
    line-height: 1.6 * $em;
    border: 1px solid $light;
    border-radius: .2 * $em;
    padding: 0 .4 * $em;
    .count {
      display: none;
      font-size: .8em;
      color: $gray;
    }
    &:hover {
      color: $dark;
    }
  }
}
